body {
    background-color: #f2f2f2; /* Светло-серый фон */
    color: #333; /* Темно-серый текст */
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #fff; /* Белый фон для заголовка */
}

h1 {
    font-size: 24px;
}

.filters {
    width: 300px; /* Ширина блока фильтров */
    margin: 20px auto; /* Центрирование блока */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50; /* Зеленый цвет кнопки */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.posters {
    display: flex; /* Отображение элементов в виде строки */
    flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
    justify-content: space-between; /* Равномерное распределение элементов */
    margin: 20px;
}

.poster-item {
    width: 200px; /* Ширина элемента афиши */
    height: 300px; /* Высота элемента афиши */
    margin-bottom: 20px;
    overflow: hidden; /* Скрытие изображения, если оно выходит за пределы элемента */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Тень */
}

.poster
