{% extends 'main.html' %}
{% block title %} Assistant lk {% endblock %}

{% block content %}
{% load static %}
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->

<div class="container">
    <style>
        body {
            background-color: #333;
            color: #fff;
        }

        .card {
            background-color: #444;
            color: #fff;
        }

        .btn-long {
            display: block;
            width: 100%;
        }

        .schedule-item {
            border-bottom: 1px solid #555;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }


    </style>
    <div class="container my-3">
        <h2 class="mb-4">Добрый день, {{request.user.first_name}}</h2>
        <div class="row">
            <!-- Расписание -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Понедельник, 15 апреля</h5>
                        <p>4 пары, с 08:00 по 15:10</p>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">08:00 Физкультура <span
                                    class="badge badge-primary">ПР</span></li>
                            <li class="list-group-item">09:50 История России <span
                                    class="badge badge-secondary">Лек</span></li>
                            <li class="list-group-item">11:40 Информационные технологии <span
                                    class="badge badge-secondary">Лек</span></li>
                            <li class="list-group-item">13:40 Физика <span
                                    class="badge badge-secondary">Лек</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Меню -->
            <div class="col-md-8">
                <div class="row justify-content-around">
                    <a class="btn btn-secondary btn-md col-md-5" href="https://vec.etu.ru/moodle"><i
                            class="fa-solid fa-laptop"></i> Moodle
                    </a>
                    <a class="btn btn-secondary btn-md col-md-5"
                       href="https://digital.etu.ru/science/api/auth"><i
                            class="fa-solid fa-briefcase"></i> Публикации
                    </a>
                    <a class="btn btn-secondary btn-md col-md-5"
                       href="http://library.etu.ru/jirbis2"><i class="fa-solid fa-book"></i> ЭБС
                    </a>
                    <a class="btn btn-secondary btn-md col-md-5"
                       href="https://lk.etu.ru/account/contacts/mail/student"><i
                            class="fa-regular fa-envelope"></i> Почта
                    </a>
                    <a class="btn btn-secondary btn-md col-md-5" href="https://media.etu.ru/"><i
                            class="fa-solid fa-play"></i> Медиатека
                    </a>
                    <a class="btn btn-secondary btn-md col-md-5"
                       href="https://lk.etu.ru/student#/immortal-division-soldiers"><i
                            class="fa-solid fa-user"></i> Бессмертный полк
                    </a>

                </div>
            </div>
        </div>
    </div>


    <!--    <div class="row">-->
    <!--        <button class="btn btn-primary full-width" data-bs-toggle="modal"-->
    <!--                data-bs-target="#filtersModal">Фильтры-->
    <!--        </button>-->
    <!--    </div>-->


    <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filtersModalLabel">Фильтры</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <!-- Фильтр по району -->

                        <form method="POST" action="">

                        {% csrf_token %}
                        <!-- Max Price Input -->
                        <div class="mb-3">
                            <label for="max-price" class="form-label">Maximum Price:</label>
                            <input type="number" name="max_price" id="max-price" class="form-control"
                                   placeholder="Enter max price">
                        </div>
                        <!-- Areas Checkbox -->
                        <div id="area-popup">
                            <!-- List of checkboxes for areas -->
                            <label for="Admiralteyskiy"><input type="checkbox" name="areas" id="Admiralteyskiy"
                                                               value="Admiralteyskiy"> Адмиралтейский</label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Vasileostrovskiy" value="Vasileostrovskiy">
                                Василеостровский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Petrogradskiy" value="Petrogradskiy">
                                Петроградский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Tsentralnyy" value="Tsentralnyy"> Центральный
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Frunzenskiy" value="Frunzenskiy"> Фрунзенский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Nevskiy" value="Nevskiy"> Невский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Moskovskiy" value="Moskovskiy"> Московский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Krasnogvardeyskiy" value="Krasnogvardeyskiy">
                                Красногвардейский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Kirovskiy" value="Kirovskiy"> Кировский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Kolpinskiy" value="Kolpinskiy"> Колпинский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Krasnoselskiy" value="Krasnoselskiy">
                                Красносельский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Kronshtadtskiy" value="Kronshtadtskiy">
                                Кронштадтский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Kurortnyy" value="Kurortnyy"> Курортный
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Petrodvortsovy" value="Petrodvortsovy">
                                Петродворцовый
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Primorskiy" value="Primorskiy"> Приморский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Pushkinskiy" value="Pushkinskiy"> Пушкинский
                            </label>
                            <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                <input type="checkbox" class="d-none" id="Vyborgskiy" value="Vyborgskiy"> Выборгский
                            </label>

                            <!-- Repeat for other areas -->
                        </div>
                        <!-- Фильтр по категориям -->
                        <div class="mb-3">
                            <label class="form-label">Категории:</label>
                            <div id="category-popup" style="display: none;">
                                <!-- Пример для категории "События для бизнеса" -->
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="business-events">
                                    События для бизнеса
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="cinema">
                                    Кинопоказы
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="concert">
                                    Концерты
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="education">
                                    Обучение
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="entertainment">
                                    Развлечения
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="exhibition">
                                    Выставки
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="fashion">
                                    Мода и стиль
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="festival">
                                    Фестивали
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="holiday">
                                    Праздники
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category" value="kids">
                                    Детям
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category" value="other">
                                    Разное
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category" value="party">
                                    Вечеринки
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category" value="photo">
                                    Фотография
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category" value="quest">
                                    Квесты
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="recreation">
                                    Активный отдых
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="shopping">
                                    Шопинг (Магазины)
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category"
                                           value="social-activity">
                                    Благотворительность
                                </label>
                                <label class="btn btn-outline-secondary" onclick="toggleCheckbox(this)">
                                    <input type="checkbox" class="d-none" name="category" value="stock">
                                    Акции и скидки
                                </label>

                            </div>
                            <!-- Добавьте другие категории -->
                        </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" onclick="applyFilters()"
                            data-bs-dismiss="modal">
                        Применить фильтры
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="mb-4">Куда сегодня пойдем?</h2>
            </div>
            <div class="col-md-4 text-end">
                <button class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#filtersModal">Фильтры
                </button>
            </div>
        </div>
        <div class="row">
            <div class="event-grid d-flex justify-content-start flex-wrap">
                {% for event in list_events %}
                <div class="event card m-2" style="width: 30%;">
                    <img src="https://w.forfun.com/fetch/5d/5d572d697e41c82ac511549420ebcf44.jpeg"
                         class="card-img-top"
                         alt="Event 1">
                    <div class="card-body">
                        <h5 class="card-title">{{event.title}}</h5>
                        <p class="card-text">Стоимость: {{ event.price }}</p>
                        <p class="card-text">Время: {{ event.time }}</p>
                        <p class="card-text">Место: {{ event.place }}</p>
                        <p class="card-text">Теги: {{ event.tags }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>


    <div class="clear"></div>
    <div class="footer text-center p-4 mt-3">
        Авторские права Душнила, математик, информатик и прогматик
    </div>

    <script>
        function toggleAreaPopup() {
            var popup = document.getElementById("area-popup");
            popup.style.display = popup.style.display === 'none' ? 'block' : 'none';
        }

        function toggleCategoryPopup() {
            var popup = document.getElementById("category-popup");
            popup.style.display = popup.style.display === 'none' ? 'block' : 'none';
        }




    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        togglePopup('area-popup')
        togglePopup('category-popup')

        function togglePopup(popupId) {
            var popup = document.getElementById(popupId);
            var isDisplayed = popup.style.display === 'block';
            popup.style.display = isDisplayed ? 'none' : 'block';
        }

        function toggleCheckbox(label) {
            var checkbox = label.querySelector('input[type="checkbox"]');
            checkbox.checked = !checkbox.checked;

            // Toggle button classes based on checkbox state
            if (checkbox.checked) {
                label.classList.remove('btn-outline-secondary');
                label.classList.add('btn-primary'); // Add primary class for checked
            } else {
                label.classList.remove('btn-primary');
                label.classList.add('btn-outline-secondary'); // Add secondary class for unchecked
            }

            // Call displaySelectedData function if necessary (optional)
            // displaySelectedData();
        }

        // You can call displaySelectedData() if needed elsewhere
        function displaySelectedData() {
            // ... existing code to collect and log selected data ...


            function applyFilters() {
                // Получить максимальную стоимость
                const maxPrice = document.getElementById('max-price').value;

                // Получить список выбранных районов
                const areaCheckboxes = document.querySelectorAll('#area-popup input[type="checkbox"]:checked');
                const selectedAreas = Array.from(areaCheckboxes).map(checkbox => checkbox.parentElement.textContent.trim());

                // Получить список выбранных категорий
                const categoryCheckboxes = document.querySelectorAll('#category-popup input[type="checkbox"]:checked');
                const selectedCategories = Array.from(categoryCheckboxes).map(checkbox => checkbox.name);

                // Формирование JSON объекта с фильтрами
                const filters = {
                    maxPrice: maxPrice,
                    areas: selectedAreas,
                    categories: selectedCategories
                };

                // Преобразование объекта в строку JSON для передачи или логирования
                const filtersJSON = JSON.stringify(filters);
                console.log(filtersJSON);

                // Вы можете посылать этот JSON на сервер или использовать по-своему
                // Здесь пример отправки данных на сервер (псевдокод)
                // fetch('/apply-filters', {
                //     method: "POST",
                //     body: filtersJSON,
                //     headers: {
                //         'Content-Type': 'application/json'
                //     }
                // }).then(response => response.json())
                //   .then(data => console.log(data))
                //   .catch(error => console.error('Error:', error));
            }

        }




    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</div>
{% endblock content %}